{{ $host := (urls.Parse (.Site.BaseURL|absURL)).Host }}
{{ $icps := .Site.Params.icp}}

<a href="http://www.beian.miit.gov.cn" target="_blank" id='icpid'></a>
<script>
	const host = window.location.host;
	const icpid = document.getElementById('icpid');
	const icps = {}
	{{ if $icps }}
	{{range $icps}}
		icps[{{.host}}]={{.id}};
	{{end}}
	console.log(icps);
	if(icpid){
		if (icps[host]){
			console.log('icpid', icps[host]);
			icpid.innerText = icps[host];
		} else {
			icpid.remove();
		}
	}

{{end}}
</script>
